@font-face {
	font-family: quicksand-bold;
	src: url('../font/Quicksand/Quicksand-Bold.ttf');
}
@font-face {
	font-family: Lato;
	src:url('../font/Lato/Lato-Bold.ttf');
}
body{
	margin:0px;
	padding: 0px;
	font-family: quicksand-bold;
}
.layout {
	position: relative;
	width: 100%;
	height: 100%;
}
.header {
	width: 100%;
	height: 10%;
	text-align: center;
	position: absolute;
	position: fixed;
	z-index: 1;
	margin-top: -1%;
}
a {
	text-decoration: none;
}
.header-left {
	float: left;
	width: 49%;
}
.menu {
	float: right;
	margin-top: 2%;
	width: 83%;
	
}
.header li {
	float: left;
	list-style-type:none;
    height: 17px;
    padding-left: 4%;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #673ab7;
}
.header:hover {
	border: 1px solid #00bcd4;
}
.logo-header {
	float: left;
    height: 40px;
    width: 10%;
    margin-top: 3%;

}
.header-right {
	width: 47%;
	float: right;
	line-height: 80px;
	text-align: center;
}
.signin {

	float: right;
	margin-top: 3%;
	margin-right: 3%;
	width: 16%;
  	height: 35px;
  	border-radius: 100px;
  	background-color: #00bcd4;
  	line-height: 35px;
}
.signin a{
	margin-top: -1%;
  	height: 17px;
  	font-family: Lato;
 	font-size: 14px;
  	font-weight: bold;
  	letter-spacing: 0.2px;
  	text-align: left;
  	color: #ffffff;

}
.signin img {
	float: right;
	margin-right: 10%;
	margin-top: 8%;
}
.login {
	float: right;
	width: 15%;
  	height: 17px;
  	font-family: Lato;
 	font-size: 14px;
  	letter-spacing: 0.2px;
  	text-align: left;
  	color: #00bcd4;
}
.icon-seach {
	float: right;
}
.body {
	width: 100%;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
}
.section{
	width: 100%;
	height: 100%;
	padding-bottom: 5%;
	border: 1px solid black;
}
.side-bar {
	width: 50%;
	float: right;
}
.side-bar img{
	width: 100%;
	height: 100%;
}
.content {
	width: 50%;
	float: left;
}
.logo-content {
	float: left;
	padding-left: 22%;
	padding-top: 15%;
}
.text-sommer-is-often-syn {
	font-size: 50px;
  	font-weight: bold;
  	text-align: left;
  	color: #00bcd4;
  	padding-left: 27%;
	padding-top: 25%;
	width: 70%;
}
.text-sommer-is-often {
    font-family: Lato;
  	font-size: 16px;
  	line-height: 1.5;
  	text-align: justify;
  	color: #673ab7;
  	padding-left: 27%;
  	margin-top: -2%;
  	width: 74%;
}
.find-more {
  	border-radius: 100px;
  	background-color: #ffffff;
  	border: solid 2px #673ab7;
  	text-align: center;
  	width: 20%;
  	
  	line-height: 48px;
  	margin-left: 27%;
}
.find-more img{
	margin-bottom: -5px;
	margin-left: 10px;
}
.signin-try {
  	border-radius: 100px;
  	background-color: #e91e63;
  	margin-left: 50%;
  	text-align: center;
  	line-height: 50px;
  	margin-top: -50px;
  	width: 30%;
}
.signin-try img{
	margin-bottom: -5px;
	margin-left: 10px;
}
.signin-try a{
	color:white;
}
.foot {
	width: 99%;
	height: 7%;
	position: absolute;
	position: fixed;
	margin-top: -85%;
	/*border: solid 2px #673ab7;*/
}
.subport {
	text-align: center;
  	width: 8%;
  	line-height: 30px;
	border-radius: 100px;
  	background-color: #ffc107;
  	float: right;
}
.subport img {
	width: 20%;
	margin-bottom: -5%;
	margin-right: -5%;
}
.back-top {
	margin-top: 2%;
	background-color: #00bcd4;
	width: 2%;
	height: 45%;
	margin-left: 2%;
	border-radius: 100px;
}
.back-top img{
	width: 70%;
	margin-left: 14%;
}
.content-section-2 {
	width: 88%;
	text-align: center;
}
.content-section-2 img {
	width: 70%;
	height: auto;
}
.content-section-2 h2{	
	text-align: center;
	padding-right: 5%;
}
.content-section-2 p {
	font-family: Lato;
	width: 100%;
	text-align: left;
}
.content-section-2 div {
	height: 40px;
	line-height: 40px;
	margin-left: 20%;
	margin-top: 20%;
	text-align: center;
	width: 60%;
	border-radius: 100px;
  	background-color: #00bcd4;
}
.content-section-2 div a{
	color: white;
}
.content-familiar {
	width: 25%;
	margin-top: 5%;
    margin-left: 5%;
	float: left;
}
.content-basic {
	width: 25%;
	margin-top: 4%;
    margin-left: 8%;
	float: left;
}
.content-familiar div div{
	margin-top: 32%;
}
.content-basic div div {
	margin-top: 8%;
	background-color: #673ab7;
}
.content-advance {
	width: 25%;
	margin-top: 4%;
    margin-left: 8%;
	float: left;
}
.content-advance div div {
	margin-top: 22%;
	background-color: #e91e63;
}