@font-face {
	font-family: quicksand-bold;
	src: url('../font/Quicksand/Quicksand-Bold.ttf');
}
@font-face {
	font-family: Lato;
	src:url('../font/font and icon/Lato-Regular.ttf');
}
@font-face {
	font-family: VNFquicksand;
	src:url('../font/font and icon/vnf-quicksand-bold.ttf');
}
@font-face {
	font-family: Lato-bold;
	src:url('../font/font and icon/Lato-Bold.ttf');
}
body{
	margin:0px;
	padding: 0px;
	font-family: Lato;
}
.layout {
	position: relative;
	width: 1920px;
	max-height: 8640px;
	overflow-x: hidden;
}
.header {
	width: 100%;
	height: 80px;
	text-align: center;
	position: absolute;
	position: fixed;
	z-index: 1;
	margin-top: 0%;
}
a {
	text-decoration: none;
	font-family: Lato;
}
a span {
	margin-left: 11px;
}
.header-left {
	float: left;
	width: 49%;
}
.header-left img {
	width: 100%;
}
.menu {
	float: right;
	margin-top: -41px;
	width: 86%;
	
}
.header li {
	float: left;
	list-style-type:none;

    padding-left: 6%;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #673ab7;
}
.logo-header {
	float: left;
    height: 40px;
    width: 16%;
    margin-top: 2%;
    margin-left: 2%;
}
.header-right {
	width: 47%;
	float: right;
	line-height: 80px;
	text-align: center;
}
.signin {

	float: right;
	margin-top: 2%;
	margin-right: 3%;
	height: 40px;
  	line-height: 35px;
}
.signin a{
	margin-top: -1%;
  	font-family: Lato;
 	font-size: 14px;
  	letter-spacing: 0.2px;
  	text-align: left;
  	color: #ffffff;
  	border-radius: 100px;
  	background-color: #00bcd4;
  	padding: 11px 23px;

}
.signin img {
	float: right;
	margin-right: 10%;
	margin-top: 8%;
}
.login {
	float: right;
	width: 15%;
  	font-family: Lato;
 	font-size: 14px;
  	letter-spacing: 0.2px;
  	text-align: left;
  	color: #00bcd4;
    margin-right: -4%;
}
.login a{
	color: #00bcd4;
}
.icon-seach {
	float: right;
    margin-right: 2%;
}
.body {
	width: 100%;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
}
.section{
	width: 100%;
	height: 1080px;
}
.side-bar {
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
}
.btn-side-bar-1 {
    position: absolute;
    top: 48%;
    text-align: center;
 
    left: 2%;
    transform-origin: 50% 50%;
}
.btn-side-bar-1 a{
	border: 2px solid #00bcd4;
	color: #00bcd4;
	position: absolute;
	transform: translate(-50%,-50%);
}
.btn-side-bar-1 a span {
	margin-left: 0px;
}
.btn-side-bar-2 a{
	border-radius: 20px;
    padding: 7px 10px;
    background-color: #e91e63;
    color: white;
    position: absolute;
	transform: translate(0px, -50%);
}
.btn-side-bar-2 a span {
	margin-left: 0px;
}
.btn-side-bar-2 {
    position: absolute;
    top: 48%;
    text-align: center;
    left: 88%;
    transform-origin: 50% 50%;
}
.btn-side-bar-3 {
    position: absolute;
    top: 954px;
    text-align: center;
    left: 2%;
    transform-origin: 50% 50%;
}
.btn-side-bar-4 {
    position: absolute;
    top: 88%;
    text-align: center;
	left: 11%;
    width: 14px;
    height: 14px;
    border: 4px solid #e91e63;
    border-radius: 50%;
    transform-origin: 50% 50%;
}
.btn-side-bar-5 {
    position: absolute;
    top: 88%;
    text-align: center;
	left: 15%;
    width: 14px;
    height: 14px;
    border: 4px solid #b1d136;
    border-radius: 50%;
    transform-origin: 50% 50%;
}
.btn-side-bar-6 {
    position: absolute;
    top: 88%;
    text-align: center;
	left: 19%;
    width: 14px;
    height: 14px;
    border: 4px solid #ffc107;
    border-radius: 50%;
    transform-origin: 50% 50%;
}
.side-bar img{
	width: 100%;
	height: 100%;
}
.content {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}
.btn-content-1 {
	position: absolute;
	top: 28%;
    left: 18%;
}
.btn-content-2 {
	position: absolute;
    top: 31%;
    left: 23%;
}
.btn-content-3 {
	position: absolute;
	top: 60%;
    left: 76%;
}
.btn-content-4 {
	position: absolute;
    top: 60%;
    left: 80%;
}
.btn-content-5 {
	position: absolute;
    top: 57%;
    left: 82%;
}
.logo-content {
	float: left;
	padding-left: 27%;
	padding-top: 15%;
}
.text-sommer-is-often-syn {
    font-size: 64px;
    font-weight: bold;
    text-align: left;
    color: #00bcd4;
	padding: 25% 27%;
	padding-bottom: 0;
    width: 60%;
    font-family: VNFquicksand;
}
.text-sommer-is-often {
    font-family: Lato;
  	font-size: 16px;
  	line-height: 1.5;
  	text-align: justify;
  	color: #673ab7;
  	padding-left: 27%;
  	width: 51%;
}
.find-more {
	margin-left: 27%;
	margin-top: 5%;
    width: 16%;
    position: relative;
    z-index: 15;
}
.find-more a {
  	border-radius: 100px;
  	background-color: #ffffff;
	border: 2px solid #673ab7;
  	text-align: center;
    line-height: 50px; 	
  	font-size: 14px;
  	color: #673ab7;
  	padding: 16px 23px 16px 25px;
  	font-weight: bold;
}
.signin-try {
	margin-left: 46%;
	margin-top: -53px;
	width: 27%;
	position: relative;
	z-index: 15;
}
.signin-try a{
	border-radius: 100px;
    background-color: #e91e63; 
    text-align: center;
    line-height: 50px;  
    font-size: 14px;
    padding: 18px 41px;
    height: 50px;
    color:white;
    font-weight: bold;
}
.ti-angle-double-right {
    margin-left: -5px;
}
.foot {
	width: 99%;
	height: 7%;
	position: fixed;
	margin-top: -434%;
}
.support {
	text-align: center;
  	width: 6%;
  	line-height: 40px;
	border-radius: 100px;
  	background-color: #ffc107;
  	float: right;
}
.support a{
	color: white;
}
.support img {
	width: 20%;
	margin-bottom: -5%;
	margin-right: -5%;
}
.back-top {
	margin-top: 2%;
	background-color: #00bcd4;
	width: 40px;
    height: 40px;
    line-height: 40px;
	margin-left: 2%;
	border-radius: 100px;
	position: fixed;
}
.back-top span {
	color: white;
}
.back-top img{
	width: 70%;
	margin-left: 14%;
}
.section-2 {
	padding-top: 250px;
}
.content-section-2 {
	width: 640px;
	text-align: center;
	float: left;
}
.content-section-2 a {
	font-size: 70%;
}
.content-section-2 h2{	
    text-align: center;
    color: #00bcd4;
    font-family: VNFquicksand;
    font-weight: bold;
}
.content-section-2 p {
    font-family: Lato;
    text-align: left;
    padding: 0 140px;
    text-align: justify
}
.section-2-img {
	width: 100%;
	min-height: 390px;
}
.section-2-text {
	min-height: 170px;
}
.content-section-2 div a{
	color: white;
	border-radius: 100px;
  	background-color: #00bcd4;
  	padding: 16px 43px;
  	font-weight: bold;
}
.content-section-2 .content-basic-h2 {
	color: #673ab7;
}
.content-section-2 .content-basic a{
	background-color: #673ab7;
}
.content-section-2 .content-advance a{
	background-color: #e91e63;
}
.content-section-2 .content-advance-h2{
	color: #e91e63;
}
.section-3 {
	padding-top: 5%;
}
.content-section-3-left {
	width: 40%;
	float: left;
	
}
.star,.user,.thumb-up,.cup,.time {
	color: #ffc107;
}
.star {
	position: absolute;
    left: 30%;
    top: 236px;
}
.user {
	position: absolute;
    left: 30%;
    top: 310px;
}
.thumb-up {
	position: absolute;
    left: 30%;
    top: 387px;
}
.cup {
	position: absolute;
 	left: 30%;
    top: 464px;

}
.time {
	position: absolute;
    left: 30%;
    top: 540px;
}
.content-pr {
	font-family: VNFquicksand;
	text-align: justify;
	color: #673ab7;
	padding-left: 34%;
	padding-top: 22%;
	font-size: 24px;
	position: relative;
	font-weight: bold;
}
.content-pr li {
	padding-top: 9%;
	list-style-type:none;
}
.btn-signin {
	transform-origin: 50% 50%;
    text-align: center;
    width: 31%;
    line-height: 50px;
    margin-left: 32%;
    margin-top: 10%;

}
.btn-signin a{
    color: white;
	border-radius: 100px;
    background-color: #00bcd4;
    padding: 16px 43px;
    font-family: Lato;
    font-weight: bold;
}
.content-section-3-right {
	width: 60%;
	float: left;
}
.section-3-control {
    background-color: #673ab7;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
    padding: 22px 25px;
    width: 6%;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    top: 34%;
    left: 65%;
    border-radius: 45px;
    transform: translate(12%,-28%);
}
.section-3-control span {
	color: white;
}
.content-section-3-right div {
	overflow:hidden;
}
.section-3-img-1 {
	position: relative;
    float: left;
    width: 68%;
    margin-top: 17%;
    margin-left: 16%;
    border-radius: 30px;
}
.section-3-img-1 img {
	width: 100%;
	height: auto;
}
.section-3-img-2 {
	position: absolute;
	float: left;
	width: 20%;
	z-index: 1;
	margin-left: 5%;
	border-radius: 30px;
	margin-top: 3%;
}
.section-3-img-2 img {
	width: 100%;
	height: auto;

}
.section-3-img-3 {
	position: absolute;
    float: right;
    width: 15%;
    margin-left: 39%;
    margin-top: 31%;
    border-radius: 30px;
}
.section-3-img-3 img {
	width: 100%;
	height: auto;
}
.section-4-ball {
	overflow: hidden;
}
.section-4 {
	width: 100%;
	padding-top: 15%;
	font-size: 72%;
}
.section-4-ball {
    width: 20%;
    float: left;

}
.ball {
	border-radius: 50%;
	width: 50%;
	height: auto;
	padding-top: 50%;
	background-color: #d8d8d8;
	margin-left: 25%;
}
.section-4-ball p {
	text-align: center;
	font-size: 24px;
	font-family: VNFquicksand;
	font-weight: bold;
}
.section-5-img {
	width: 50%;
	height: 100%;
	float: left;
}
.img {
	/*background: -webkit-linear-gradient(pink,green);*/
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
}
.section-5-content {
	width: 100%;
	height: 100%;
	position: relative;
}
.btn-section-5-1 {	
    text-align: center; 
    width: 83px;
    height: 30px;
    line-height: 30px; 
    position: absolute;
    top: 48%;
    left: 1%;
    font-size: 14px;
}
.btn-section-5-1 a {
	border: 2px solid #00bcd4;
	padding: 0px 10px;
	border-radius: 20px;
	color: #00bcd4;
	position: absolute;
	transform:translate(-50%,-50%);
}
.btn-section-5-2 {
	width: 83px;
    text-align: center;   
    height: 30px;
    line-height: 30px;   
    position: absolute;
    top: 48%;
    left: 95%;
    font-size: 14px;
}
.btn-section-5-2 a {
	border-radius: 20px;
	color: white;
	padding: 1px 13px;
	background-color: #e91e63;
	position: absolute;
	transform: translate(-46px,-50%);
}
.btn-section-5-2 a span {
	margin-left: 0px;
}
.btn-section-5-3 {
	position: absolute;
    top: 23%;
    left: 53%;
    padding: 10px 37px;
    border-radius: 35px;
}
.btn-section-5-4 {
    position: absolute;
    top: 20%;
    left: 55%;
    padding: 10px 18px;
    border-radius: 49px;
}
.btn-section-5-5 {
    position: absolute;
    top: 78%;
    left: 58%;
	padding: 10px 31px;
    border-radius: 35px;
}
.btn-section-5-6 {
	position: absolute;
    top: 840px;
    left: 62%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid #e91e63;
}
.btn-section-5-7 {
	position: absolute;
    top: 840px;
    left: 64%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid #b1d136;
}
.btn-section-5-8 {
	position: absolute;
    top: 840px;
    left: 66%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid #ffc107;
}
.section-5-img img{
	width: 100%;
	height: 100%;
}
.section-5-text {
    width: 609px;
    float: left;
    padding-left: 8%;
    padding-top: 10%;
    padding-right: 6%;
}
.section-5-text-title p{
	font-family: VNFquicksand;
	font-size: 36px;
	font-weight: bold;
}
.teacher-lable {
	color: #673ab7;
}
.teacher-name {
	color: #00bcd4;
}

.section-5-text-content p {
	font-family: Lato;
	font-size: 16px;
	text-align: justify;
	line-height: 1.5;
}
.section-6 {
	padding-top: 5%;
	background-color: #f9f9f9;
}
.section-6-content {
	padding-bottom: 10%;
	width: 100%;
}
.section-6-content-list:hover {
	box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.25);
    cursor: pointer;
}
.section-6-content-list {
	width: 35%;
	margin-left: 10%;
	float: left;
	position: relative;
	margin-bottom: 11%;
	margin-top: 1%;
	/*setup time hover*/
	transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
.section-6-btn-1 {
    padding: 10px 37px;
    position: absolute;
    top: 48px;
    left: -61px;
    border-radius: 20px;
}
.section-6-btn-2 {
	padding: 10px 19px;
    position: absolute;
    top: 24px;
    left: -25px;
    border-radius: 20px;
}
.section-6-text {
	background-color: white;
	border-radius: 20px;
}
.section-6-text-review {
	padding: 2% 5% 0% 5%;
}
.section-6-text-review p {
	font-size: 16px;
	text-align: justify;
}
.section-6-text-N3 {
	font-size: 14px;
}
.section-6-text-reviewer {
	text-align: right;
	padding-right: 30%;
	padding-bottom: 2%;
}
.section-6-reviewer-ava {
	width: 17%;
	position: absolute;
	z-index: 1;
	top: 82%;
    left: 78%;
}
.section-6-reviewer-ava img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.section-7-content {
	width: 100%;
	height: 100%;
}
.section-7-content-left {
	width: 40%;
	height: 100%;
	padding-left: 10%;
	float: left;
	padding-top: 12%;
	position: relative;
	font-size: 16px;
}
.section-7-content-left li {
	list-style-type: none;
	color: #000000;
}
.section-7-content-left span {
	color: #00bcd4;
}
.form-input {
	border-radius: 100px;
  	background-color: #ffffff;
  	border: solid 1px #00bcd4;
  	height: 50px;
  	padding-left: 5%;
  	width: 61%;
}
select:focus,input:focus,textarea:focus {
	outline: none;
}
.form-input:hover {
	border: solid 1px #673ab7;
}
.from-input-select {
	border-radius: 100px;
  	background-color: #ffffff;
  	border: solid 1px #00bcd4;
	height: 56px;
    padding-left: 5%;
    width: 66%;
}
.from-input-select:hover {
	border: solid 1px #673ab7;
}
.form-input-area {
	border-radius: 20px;
  	background-color: #ffffff;
  	border: solid 1px #00bcd4;
	height: 193px;
    padding-left: 5%;
    width: 60%;
    resize: none;
    font-family: Lato;
}
.form {
	position: relative;
}
.icon-form {
	position: absolute;
    top: 50%;
    left: 17px;
    transform: translate(0px,-50%);
}

.comment-input {
    top: 12px;

}
.form-input-area:hover {
	border: solid 1px #673ab7;
}
.section-7-content-left li {
	margin-top: 2%;
}
.section-7-content-left h2 {
	padding-left: 6%;
	font-size: 36px;
  	color: #00bcd4;
}
.btn-submit {
	margin-left: 38%;
    margin-top: 5%;
    width: 26%;
    border: none;
    color: white;
    position: relative;
    z-index: 15;
    transform-origin: 50% 50%;
}
.btn-submit span {
	color: white;
}
.section-7-content-right {
	width: 50%;
	float: left;
	height: 100%;
}
.section-7-content-right iframe {
	width: 100%;
	height:100%; 
	frameborder:0px;
	border:0;
}
.section-7-btn-1 {
    padding: 10px 46px;
  	border-radius: 20px;
  	position: absolute;
  	top: 276px;
    left: 539px;
}
.section-7-btn-2 {
    padding: 10px 13px;
 	border-radius: 20px;
 	position: absolute;
 	top: 276px;
    left: 656px;
}
.section-7-bot {
	padding-bottom: 0%;
}
.section-8-footer {
	width: 100%;
	height: 1080px;
	background-color: #00bcd4;
	color: white;
	position: relative;
	z-index: 20;
}
.section-8-footer a {
	color: white;
}
.logo-footer {
	width: 13%;
    margin-left: 40%;
    margin-bottom: 4%;
}
.logo-footer img {
	width: 100%;
	height: auto;
}
li {
	list-style-type: none;
}

.footer-content {
	width: 12%;
	float: left;
}
.footer-content li {
	margin-top: 19%;
	font-size: 16px;
}
.menu-footer {
	font-size: 19px;
	width: 73%;
}
.footer-left {
	margin-left: 11%;
}
.fb-footer {
	float: left;
	width: 25%;
	position: absolute;
	left: 71%;
    top: 38%;
}
.fb-footer iframe {
    width: 450px;
    height: 614px;
	border:none;
	overflow:hidden;
	scrolling:no;
	frameborder:0;
	allowTransparency:true;
}
.set-foot {
	width: 40%;
	float: left;
	margin-top: -9%;
}
.set-foot li {
	float: left;
	padding-left: 14%;
}
.link-foot {
	width: 70%;
    padding-left: 5%;
    margin-top: 3%;
    float: left;
    font-size: 24px;
}
.link-foot li {
	float: left;
    padding-left: 4%;
    font-size: 70%;
}
.copyright {
	width: 70%;
    float: left;
    padding-left: 10%;
    font-size: 70%;
}
/*color*/
.footer-url li{
	float: left;
	margin-left: 8%;
    margin-top: 4%;
}
.xanh {
	background-color: #00bcd4;
}
.cam {
	background-color: #f44336;
}
.vang {
	background-color: #ffc107;
}
.hong {
	background-color: #e91e63;
}
.cl-1 {
	background-color: #e91e63;
}
.cl-2 {
	background-color: #00bcd4;
}
.cl-3 {
	background-color: #ffc107;
}
.cl-4 {
	background-color: #f44336;
}
.cl-5 {
	background-color: #ffc107;
}
.cl-6 {
	background-color: #673ab7;
}
.cl-7 {
	background-color: #b1d136;
}
.cl-8 {
	background-color: #e91e63;
}

.do-trong {
	opacity: 1;
}
.btn-1 {
	padding: 10px 37px;
    border-radius: 35px;
}
.btn-2 {
    padding: 10px 13px;
    border-radius: 35px;
}
.btn-3 {
	padding: 10px 43px;
    border-radius: 24px;
}
.btn-side-bar {
	width: 8%;
    height: 30px;

    font-size: 14px;
    line-height: 30px;
}
.btn-side-bar a{
	border-radius: 20px;
	padding: 0px 10px;
}